@media screen and (max-width:1920px){

div.phone_break {
	display: none;
}

    div.medium phone_break {
	  display: none;
    }

div.phone.clear {
	display: none;
}

	div.small_phone.break {
		display: none;
	}
	
	div.small_phone.clear {
		display: none;
	}

div.content {
	width: 1200px;	
	height: 1069px;
	/*height: 1107px;  USE WITH SUBTITLE */ 
	margin-left: auto;
	margin-right: auto;
	display:block;
}

table.content {
 width: 1200px;	
}

tr.main {
	height: 866px;
}

div.title {
	text-align: center;
	height: 46px;
	/*height: 84px; USE WITH SUBTITLE*/
}

div.contact, div.more_info {
	text-align: center;
	height: 36px;	
}



div.top_rounded {
	padding-top:5px;
	margin-left: 1px;
	margin-right:1px;
}

div.main {
	clear:both;
	display:block;
	height: 930px;
}

div.contact_footer {
	clear: both;
	position: relative;
	bottom: 0;
	left: 0;
	display:block;
	text-align: center;

}

#galleria {
	height: 435px;
	width: 500px;
	float: right;
	margin-top: -10px;
}

#map_canvas {
	height: 460px;
	width: 460px;	
}
/*
div.galleria-stage {
	overflow: visible !important;
}

div.galleria-stage .galleria-images {
    height: 360px !important;	
}
*/
div.galleria-thumbnails-container,
div#map_canvas>div>div:nth-child(2),
div#map_canvas>div>div:nth-child(3),
div#map_canvas>div>div:nth-child(6){
	display: none !important;
}
	
/*	
div.galleria-image img{
    top: 10px !important;
    left: 10px !important;	
}


div#map_canvas {
	margin: 10px;
}
*/

div.placemat {	
	position: relative;
	top: 0px;
	margin-top: 10px;
	margin-right: 10px;
	width: 480px;
	height: 480px;	
	float: right;	
	clear: right;
	overflow: hidden;
}

div.description > div:first-child{
	padding-top: 20px;
}

div.description > div:last-child{
	padding-bottom: 10px;
}

div.description > div:nth-child(1n + 2) { 
	margin-top: 40px;
	margin-bottom: 0px;
}


div.description ul { 
	margin-top: 5px;
	margin-bottom: 10px;
}

div.left_pane div:nth-child(1n + 2) {
    margin-top: 20px;
}

div.description li {
	height: 20px;
}

div.application{
	text-align: center;
	height: 29px;
	margin-bottom: 10px;	
}

div.application, div.button_link { 	
	margin-left: auto;
	margin-right: auto;
	width: 295px;
	padding-bottom:1px;
}

div.left_pane{
	margin-top: 10px;
	margin-left: 10px;	
	width: 680px;
}

div.more_info{
	display:inline-block;
}

div.features{
	position: relative;
	display: block;
}

div.center{
	text-align: center;
}

div.headline{
	font-size: 1.5em;
}

div.conditions{
	position: relative;
	display: block;
}

}

/*
Common viewport sizes:

https://www.icwebdesign.co.uk/common-viewport-sizes
https://experienceleague.adobe.com/docs/target/using/experiences/vec/mobile-viewports.html?lang=en
*/


/* 480px is a standard viewport width for many large format phones */
@media screen and (max-width:485px){
	body {
		max-width: 480px;
	}
	
	body.phone {
		margin: 0px;
	}
	
	div.title.phone {
		font-size: 1.5em;
		height: 2.6em;
	}

	div.phone_break {
	  display: inline;
    }	

	div.medium.phone_break {
	  display: none;
    }	

	div.phone.clear {
		display: inline;
	}
	
	div.main {
		height: 74em;
	}
	
	div.content {
		max-width: 480px;
		height: 80em;
	}
	
	div#galleria {
		max-width: 480px;
		float: left;
		clear: left;
		margin-top: -15px;
	}
	
	div.placemat {
		max-width: 460px;
		float: left;
		clear: left;
		margin-top: -55px;
		margin-bottom: 15px;
		margin-left: 10px;
		height: 410px;
	}
	
	div.placemat img.map{
		max-width: 470px;
	}
	
	div.left_pane.phone {
		max-width: 460px;
		clear: left;
	}
	
	div.contact_footer {
		margin-top: 23px;
	}
	
	div.more_info {
		height: 3em;
	}
	
	div.conditions li {
		clear:both;
	}
}

/* 412px is a standard viewport width for many pixel phones */
/* 414px is a standard viewport width for many iphones */
@media screen and (max-width:416px){

	body {
		max-width: 412px;
	}

	div.main {
		height: 72.75em;
	}

    div.phone_break {
	  display: inline;
    }

	div.content {
		max-width: 410px;
		height: 83.5em;
	}
	
	div#galleria {
		max-width: 410px;
		margin-top: -35px;
	}
	
	div.placemat {
		max-width: 390px;
		margin-top: -85px;
		height: 395px;
	}
	
	div.placemat img.map{
		max-width: 400px;
	}
	
	div.left_pane.phone {
		max-width: 390px;
	}
	
	div.more_info {
		height: 4em;
	}	
}

/** 393px is common for Pixel 4a **/
@media screen and (max-width:395px){

	body {
		max-width: 390px;
	}

	div.main {
		height: 72.25em;
	}

    div.medium phone_break {
	  display: inline;
    }

    div.phone_break {
	  display: inline;
    }
	
	div.medium.small_phone.clear {
		display: inline;
	}
	
	div.content {
		max-width: 390px;
		height: 83em;
	}
	
	div#galleria {
		max-width: 390px;
		margin-top: -45px;
	}
	
	div.placemat {
		max-width: 370px;
		margin-top: -90px;
		height: 375px;
	}
	
	div.placemat img.map{
		max-width: 380px;
	}
	
	div.left_pane.phone {
		max-width: 372px;		
	}
	
	div.more_info {
		height: 4em;
	}
}

/* 375px is common for many iphone devices */
@media screen and (max-width:377px){

	body {
		max-width: 375px;
	}

	div.main {
		height: 71em;
	}

	div.features.center.headline {
		font-size: 1.3em;
	}
	
	div.small_phone.break {
		display: inline;
	}
	
	div.small_phone.clear {
		display: inline;
	}

	div.title.phone {
		font-size: 1.3em;
		height: 2.8em;
	}

	div.content {
		max-width: 375px;
		height: 81em;
	}
	
	div#galleria {
		max-width: 375px;
		margin-top: -55px;
	}
	
	div.placemat {
		max-width: 353px;
		margin-top: -105px;
		height: 355px;
	}
	
	div.placemat img.map{
		max-width: 360px;
	}
	
	div.more_info {
		height: 4em;
	}	
	
	div.left_pane.phone {
		max-width: 355px;
	}
}

/* 360px is common for many small mobile devices */
@media screen and (max-width:365px){

	body {
		max-width: 360px;
	}

	div.main {
		height: 71em;
	}

	div.features.center.headline {
		font-size: 1.3em;
	}
	
	div.small_phone.break {
		display: inline;
	}
	
	div.small_phone.clear {
		display: inline;
	}

	div.title.phone {
		font-size: 1.3em;
		height: 2.8em;
	}

	div.content {
		max-width: 360px;
	}
	
	div#galleria {
		max-width: 360px;
		margin-top: -55px;
	}
	
	div.placemat {
		max-width: 340px;
		margin-top: -105px;
		height: 355px;
	}
	
	div.placemat img.map{
		max-width: 360px;
	}
	
	div.more_info {
		height: 4em;
	}	
	
	div.left_pane.phone {
		max-width: 340px;
	}
}
